*
{
--O_ROLOC_O_COLOR_O:#DCDCDC45;
BORDER-RADIUS:8PX!IMPORTANT;
/*BORDER-WIDTH: 4PX!IMPORTANT;*/
OVERFLOW:VISIBLE;
/*BOX-SHADOW:INSET 0 0 0 1PX VAR(--O_ROLOC_O_COLOR_O),0 0 1.125PX VAR(--O_ROLOC_O_COLOR_O);*/
FONT-STYLE:NORMAL!IMPORTANT;
/*TEXT-TRANSFORM:UPPERCASE!IMPORTANT*/
/*BACKGROUND:TRANSPARENT!IMPORTANT;*/
/*COLOR:#A6A6A6!IMPORTANT;*/
}