*
{
/*--O_ROLOC_O_COLOR_O:#DCDCDC45!IMPORTANT;*/
--O_ROLOC_O_COLOR_O:#F5F5F5FF!IMPORTANT;
--O_SUIDAR_RULB_O_BLUR_RADIUS_O:0PX!IMPORTANT;
--O_SUIDAR_DAERPS_O_SPREAD_RADIUS_O:0.3125PX!IMPORTANT;
BORDER-RADIUS:8PX!IMPORTANT;
BORDER-WIDTH: 0PX!IMPORTANT;
OVERFLOW:VISIBLE;
/*BOX-SHADOW:NONE!IMPORTANT;*/
BOX-SHADOW:INSET 0 0 VAR(--O_SUIDAR_RULB_O_BLUR_RADIUS_O) VAR(--O_SUIDAR_DAERPS_O_SPREAD_RADIUS_O) VAR(--O_ROLOC_O_COLOR_O),0 0 VAR(--O_SUIDAR_RULB_O_BLUR_RADIUS_O) VAR(--O_SUIDAR_DAERPS_O_SPREAD_RADIUS_O) VAR(--O_ROLOC_O_COLOR_O)!IMPORTANT;
FONT-STYLE:NORMAL!IMPORTANT;
/*TEXT-TRANSFORM:UPPERCASE!IMPORTANT*/
/*BACKGROUND:TRANSPARENT!IMPORTANT;*/
/*COLOR:#A6A6A6!IMPORTANT;*/
}