#Isotropix_Serial_Version 1.2

application {
    build_number 67813376
}
is_maximized yes
geometry 0 19 1680 1031
recent_files "C:/O/O_XFI_ESIRALC_O_CLARISE_IFX_O/TCEJORP.O_5_SUNEGREPYH_O_HYPERGENUS_5_O.PROJECT" "C:/O/O_XFI_ESIRALC_O_CLARISE_IFX_O/TϽƎJOЯP.O_���_ƧUИƎGЯƎPYH_O_HYPERGENUS_5_O.PROJECT" "C:/O/O_XFI_ESIRALC_O_CLARISE_IFX_O/TCEJORP.O_5_SYNEGREPYH_O_HYPERGENUS_5_O.PROJECT" "C:/O/O_XFI_ESIRALC_O_CLARISE_IFX_O/TCEJORP.O_5_SYNEGREPYH_O_HYPERGENUS_5_O.PROJECT.project" "C:/O/O_XFI_ESIRALC_O_CLARISE_IFX_O/TϽƎJOЯP.O_���_ƧUИƎGЯƎPYH_O_HYPERGENUS_5_O.PROJECT.PROJECT" "C:/O/O_XFI_ESIRALC_O_CLARISE_IFX_O/TϽƎJOЯP.O_���_ƧUИƎGЯƎPYH_O_HYPERGENUS_5_O.PROJECT.PROJECT.project" "C:/O/O_XFI_ESIRALC_O_CLARISE_IFX_O/TϽƎJOЯP.O_ਟ_ƧUИƎGЯƎPYH_O_HYPERGENUS_5_O.PROJECT.project" "C:/O/EVIHCRA_ARCHIVE/ESIRALC CLARISE/tↄɘjorq.BDV_526510_0_ROIRETNI_LIF_SNOGYLOP_MORF_BDV_VDB_FROM_POLYGONS_FIL_INTERIOR_0_015625_VDB.project" "C:/O/ESIRALC CLARISE/tↄɘjorq.project" "C:/O/ESIRALC CLARISE/tↄɘjorq..BDV_52609300_0_0_00390625_VDB.project" "C:/O/ESIRALC CLARISE/tↄɘjorq..BDV_52609300_0_ROIRETNI_LIF_SNOGYLOP_MORF_BDV_VDB_FROM_POLYGONS_FIL_INTERIOR_0_00390625_VDB.project" "C:/O/ESIRALC CLARISE/tↄɘjorq.BDV_526510_0_ROIRETNI_LIF_SNOGYLOP_MORF_BDV_VDB_FROM_POLYGONS_FIL_INTERIOR_0_015625_VDB.project" "C:/O/ESIRALC CLARISE/tↄɘjorq.BDV_5260_0_ROIRETNI_LIF_SNOGYLOP_MORF_BDV_VDB_FROM_POLYGONS_FIL_INTERIOR_0_0625_VDB.project" "C:/O/ESIRALC CLARISE/tↄɘjorq.BDV....VDB.project" "C:/O/ESIRALC CLARISE/tↄɘjorq.BDV.5260.0.0.0625.VDB.project" "C:/O/tↄɘjorq.BDV.VDB.project" "C:/O/tↄɘjorq.BDV..VDB.project" "C:/O/tↄɘjorq.BDV...VDB.project" "C:/O/tↄɘjorq.project" "C:/O/tↄɘjorq.ƎBUϽ.CUBE.project"
recent_file_categories {
}
recent_script_files <empty>
favorites_folders "C:/O/O_XFI_ESIRALC_O_CLARISE_IFX_O/"
viewport_layout {
    layout {
        name "Animation Workshop"
        settings "split_v { ratio 0.022 views { tab { editor \"WidgetTools\" } toolbar_minimized yes } split_v { ratio 0.8 split_h { ratio 0.5 split_v { ratio 0.7 views { tab { editor \"Widget3dView\" } tab { editor \"WidgetImageView\" } selected_tab 0 } views { tab { editor \"WidgetExplorer\" } tab { editor \"WidgetBrowser\" } selected_tab 0 } } split_h { ratio 0.892 views { tab { editor \"WidgetGraphEditor\" } selected_tab 0 } views { tab { editor \"WidgetTimeline\" } selected_tab 0 toolbar_minimized yes } } } views { tab { editor \"WidgetAttributeEditor\" } } } }"
    }
    layout {
        name "Shading Workshop"
        settings "split_v { ratio 0.022 views { tab { editor \"WidgetTools\" } toolbar_minimized yes } split_v { ratio 0.8 split_h { ratio 0.5 split_v { ratio 0.6 views { tab { editor \"Widget3dView\" } tab { editor \"WidgetImageView\" } selected_tab 1 } views { tab { editor \"WidgetBrowser\" } tab { editor \"WidgetHierarchyView\" } tab { editor \"WidgetExplorer\" } tab { editor \"WidgetSearch\" } selected_tab 0 } } views { tab { editor \"WidgetMaterialEditor\" } } } split_h { ratio 0.5 views { tab { editor \"WidgetAttributeEditor\" } } views { tab { editor \"WidgetMaterialLinker\" } } } } }"
    }
    layout {
        name "Render Workshop"
        settings "split_v { ratio 0.022 views { tab { editor \"WidgetTools\" } toolbar_minimized yes } split_v { ratio 0.8 split_h { ratio 0.946 split_h { ratio 0.7 views { tab { editor \"Widget3dView\" } tab { editor \"WidgetImageView\" } selected_tab 0 } split_v { ratio 0.5 views { tab { editor \"WidgetBrowser\" } tab { editor \"WidgetHierarchyView\" } tab { editor \"WidgetExplorer\" } tab { editor \"WidgetSearch\" } selected_tab 0 } views { tab { editor \"WidgetImageGallery\" } } } } views { tab { editor \"WidgetTimeline\" } toolbar_minimized yes } } split_h { ratio 0.5 views { tab { editor \"WidgetAttributeEditor\" } } split_h { ratio 0.5 views { tab { editor \"WidgetMaterialLinker\" } } views { tab { editor \"WidgetLayerEditor\" } } } } } } }"
    }
    layout {
        name "Scripting Workshop"
        settings "split_h { ratio 0.5 view { editor \"WidgetLog\" toolbar_minimized no } view { editor \"WidgetScriptEditor\" toolbar_minimized no } }"
    }
    layout {
        name "Particle Paint Workshop"
        settings "split_v { ratio 0.022 views { tab { editor \"WidgetTools\" } toolbar_minimized yes } split_v { ratio 0.21 views { tab { editor \"WidgetToolOptions\" } toolbar_minimized yes } split_v { ratio 0.72 split_h { ratio 0.52 views { tab { editor \"Widget3dView\" } } split_h { ratio 0.12 views { tab { editor \"WidgetTimeline\" } toolbar_minimized yes } views { tab { editor \"WidgetPropertyEditor\" } tab { editor \"WidgetSearch\"  } } } } views { tab { editor \"WidgetExplorer\" } } } } }"
    }
    layout {
        name "Td Workshop"
        settings "split_v { ratio 0.725 split_h { ratio 0.5 split_v { ratio 0.5 view { editor \"WidgetLog\" toolbar_minimized no } view { editor \"Widget3dView\" toolbar_minimized no } } view { editor \"WidgetScriptEditor\" toolbar_minimized no } } split_h { ratio 0.6 view { editor \"WidgetAttributeEditor\" toolbar_minimized no } view { editor \"WidgetClassExplorer\" toolbar_minimized no } } }"
    }
    layout {
        name "O"
        settings " split_h { ratio 0.946 split_h { ratio 0.492485549132948 split_v { ratio 0.352654057352044 views { tab { editor \"WidgetGraphEditor\" settings { viewport_widget { selection_slot \"Local\" use_global yes } } selection_locked no } selected_tab 0 toolbar_minimized no } split_v { ratio 0.5 views { tab { editor \"WidgetImageView\" settings { viewport_widget { selection_slot \"Local\" use_global yes } } selection_locked no evaluation_mode yes } selected_tab 0 toolbar_minimized no } views { tab { editor \"WidgetAttributeEditor\" settings { viewport_widget { selection_slot \"Local\" use_global yes } } selection_locked no } selected_tab 0 toolbar_minimized no } } } split_v { ratio 0.353264185478951 views { tab { editor \"WidgetMaterialEditor\" settings { viewport_widget { selection_slot \"Local\" use_global yes } } selection_locked no } selected_tab 0 toolbar_minimized no } split_v { ratio 0.5 views { tab { editor \"Widget3dView\" settings { viewport_widget { selection_slot \"Local\" use_global yes } } selection_locked no evaluation_mode yes } selected_tab 0 toolbar_minimized no } views { tab { editor \"WidgetExplorer\" settings { viewport_widget { selection_slot \"Local\" use_global yes } } selection_locked no } selected_tab 0 toolbar_minimized no } } } } views { tab { editor \"WidgetTimeline\" settings { viewport_widget { selection_slot \"Local\" use_global yes } } selection_locked no } selected_tab 0 toolbar_minimized yes } }"
    }
    default_layout_name "O"
}
color_space {
    extension "Open EXR" "exr,sxr" "Clarisse|linear"
    extension "Jpeg" "jpg,jpeg" "Clarisse|sRGB"
    extension "Bitmap" "bmp" "Clarisse|sRGB"
    extension "Targa" "tga" "Clarisse|sRGB"
    extension "Png" "png" "Clarisse|sRGB"
    extension "Tiff" "tif,tiff" "Clarisse|sRGB"
    extension "Tx" "tx,tex" "Clarisse|linear"
    extension "HDR" "hdr" "Clarisse|linear"
    extension "default" "Other" "Clarisse|sRGB"
}
preferences {
    categories {
        general {
            history_size 50
            selection_history_size 20
            temp_folder "C:/O/O_YRAROPMET_O_TEMPORARY_O"
            startup_script "$CLARISSE_DEFAULT_STARTUP_SCRIPT;$CLARISSE_STARTUP_SCRIPT"
            startup_scene ""
            enable_file_logging no
            log_file_policy 1
            log_file_path ""
            specified_log_file ""
            default_scripting_engine "ScriptingPython"
            max_log_widget_lines_number 200
        }
        project {
            content_directory "C:/PROGRAM FILES/6PS 0.4 XFI ESSIRALC CLARISSE IFX 4.0 SP6/Clarisse"
            import_custom_variables 1
            import_aovs 1
            load_preferences yes
            load_user_interface_preferences yes
            save_preferences yes
            autosave yes
            autosave_after_idle 30
            force_autosave_after 60
            keep_autosave_when_quitting no
        }
        evaluation {
            max_core_count 0
            layout_view_refresh_rate 60
            rendering_refresh_rate 60
            shading_refresh_rate 60
            compositing_refresh_rate 60
            default_refresh_rate 60
        }
        rendering {
            acceleration_mode 0
            displacement_storage_mode 0
            motion_blur_sample_count 2
            motion_blur_direction 0
            motion_blur_length 0.0
            previz_light_set 0
            use_aov_config_file no
            aov_config_file ""
            use_resolution_preset_config_file no
            resolution_preset_config_file ""
            projection_master_eye 2
            integrator "IntegratorPathtracer"
            embedded_objects {
                Generic {
                    name "builtin_previz_light_set"
                    #version 0.9
                    #created 1586517407
                    #modified 1586517407
                    embedded_objects {
                        LightDistant {
                            name "key"
                            #version 0.91
                            #created 1586517410
                            #modified 1605953883
                            rotate -25 57 0.0
                            color 1 1 1
                            enable_shadows no
                        }
                        LightAmbient {
                            name "ambient"
                            #version 0.9
                            #created 1586517410
                            #modified 1605953883
                            color {
                                value[] {
                                    key 0 0.0 0.01 0.0 0.0 0.0 -0.3333 0.0 0.3333 0.0 yes yes no yes
                                    key 0 1 0.3 0.0 0.0 0.0 -0.3333 0.0 0.3333 0.0 yes yes no yes
                                }
                                value[1] {
                                    key 0 0.0 0.01 0.0 0.0 0.0 -0.3333 0.0 0.3333 0.0 yes yes no yes
                                    key 0 1 0.3 0.0 0.0 0.0 -0.3333 0.0 0.3333 0.0 yes yes no yes
                                }
                                value[2] {
                                    key 0 0.0 0.01 0.0 0.0 0.0 -0.3333 0.0 0.3333 0.0 yes yes no yes
                                    key 0 1 0.3 0.0 0.0 0.0 -0.3333 0.0 0.3333 0.0 yes yes no yes
                                }
                            }
                        }
                        LightPhysicalDistant {
                            name "physical_distant"
                            #version 0.91
                            #created 1586517410
                            #modified 1605953883
                            rotate -35 80 0.0
                            exposure 1.6
                            diffuse_max_depth 1
                            reflections_max_depth 1
                            shadows_max_depth 0
                        }
                        LightPhysicalAmbient {
                            name "physical_ambient"
                            #version 0.91
                            #created 1586517410
                            #modified 1605953883
                            exposure -0.8
                            diffuse_max_depth 1
                            reflections_max_depth 0
                        }
                        LightPhysicalDistant {
                            name "physical_distant1"
                            #version 0.91
                            #created 1586517456
                            #modified 1605953883
                            rotate -35 80 0.0
                            exposure 1.6
                            diffuse_max_depth 1
                            reflections_max_depth 1
                            shadows_max_depth 0
                        }
                        LightPhysicalAmbient {
                            name "physical_ambient1"
                            #version 0.91
                            #created 1586517456
                            #modified 1605953883
                            exposure -0.8
                            diffuse_max_depth 1
                            reflections_max_depth 0
                        }
                    }
                }
                Generic {
                    name "custom_previz_light_set"
                    #version 0.9
                    #created 1586517407
                    #modified 1586517407
                }
                Generic {
                    name "default_material"
                    #version 0.9
                    #created 1586517407
                    #modified 1586517407
                    embedded_objects {
                        MaterialDefault {
                            name "material"
                            #version 0.9
                            #created 1586517456
                            #modified 1586517456
                        }
                    }
                }
                Generic {
                    name "black_material"
                    #version 0.9
                    #created 1586517407
                    #modified 1586517407
                    embedded_objects {
                        MaterialMatte {
                            name "black_material"
                            #version 0.91
                            #created 1586517410
                            #modified 1586517410
                        }
                    }
                }
            }
        }
        Input_Output {
            stream_texture_cache 4096
            OIIO_statistics_log_level 1
            output_file_type 0
            openEXR_compression_method 1
            openEXR_compression_error 0.0
            deep_output_file_type 0
            deep_output_channels 0
            deep_output_raw_samples no
            deep_output_data_precision 1
            deep_output_max_sample_count 0
            enable_output_file_buffering no
            output_aovs_in_all_format no
            split_aovs_in_separate_files no
            disable_rgba_in_output no
            use_color_space_mapping_on_save no
        }
        animation {
            frames_per_second 60
            start_frame 0.0
            end_frame 60
            default_key_interpolation_type 4
            default_virtual_key_interpolation_type 0
            timeline_keyframes_display no
            timeline_sub_frames no
        }
        layout {
            parent_in_place yes
            combine_pivot_location 0
            default_TRS_space 0
            default_transform_space 2
            link_tools_spaces no
            link_pivots yes
            translate_snap_increment 1
            rotate_snap_increment 15
            scale_snap_increment 0.5
            snap_distance 16
            snap_default_plane 2
        }
        color_management {
            use_ocio_config_file no
            ocio_config_file ""
            cdl_library_file ""
            color_space_mapping_config_file ""
            auto_detect_color_space yes
            scene_color_space "Use scene_linear"
            default_view_transform "Clarisse.linear"
            color_picker_color_space "Clarisse|linear"
        }
        command_port {
            enabled no
            port 55000
        }
        alembic {
            log_level 0
            instance_detection 0
        }
        openVDB {
            use_delayed_load yes
            file_size_mode 0
            file_max_size 0.0
        }
        geometry {
            subdivision_mode 2
            visibility_mode 1
        }
        user_interface {
            color_scheme 0
            font_size 1
            curve_size 1
            gizmo_size 1
            file_browser 0
            input_device_mode 0
            object_ui_color 0
            color_tags_file "$CLARISSE_BIN_DIR/color_tags.cfg"
            tags_list_file "$CLARISSE_BIN_DIR/config/tag_list_preset.cfg"
            max_menu_items_count 16
            log_error_window_popup no
            delete_confirmation_message 1
            input_unit_mode 0
            brush_presets_file "$CLARISSE_BIN_DIR/brush_presets.cfg"
            sub_menu_show_delay 250
        }
        scripting {
            highlight_words_on_cursor yes
        }
        image_view {
            bilinear_filtering yes
            always_compute_full_quality_image yes
            overscan_opacity 0.5
            snapshot_mode 0
            tool_help yes
            color_information yes
            primitives_statistics yes
            zoom yes
            color_under_mouse yes
            highlight_object_under_mouse yes
            current_image_information yes
        }
        image_history {
            image_history_size 10
            clear_history_on_new_project no
            image_history_autosave no
            image_history_cache_path ""
            image_history_cache_max_count 100
            image_history_cache_max_size 1048576
            clear_history_cache_on_exit yes
            clear_history_cache_on_new_project no
        }
        texture_view {
            show_uv_grid yes
            default_uv_grid_type 0
            default_uv_color 1 1 1 1
            auto_fit_uv_range no
        }
        _3d_view {
            default_hardware_acceleration_mode 3
            tool_help yes
            primitives_statistics yes
            render_statistics yes
            color_information yes
            camera_information yes
            shading_information yes
            current_frame yes
            current_and_last_frame yes
            scene_timecode yes
            project_name yes
            frames_per_second yes
        }
        nodal_view {
            smooth_transitions no
            node_autozoom no
            default_node_state 0
        }
        OSL {
            include_paths "$CLARISSE_BIN_DIR/osl;"
            statistics_log_level 10
            shader_template "$CLARISSE_BIN_DIR/osl/shader_template.osl"
        }
        playblast {
            frame_range 0
            start 0
            end 50
            step 1
            display_size 0
            custom_size 720 486
            display_HUD yes
            shading_mode -1
            render_wireframe_overlay no
            enable_ambient_occlusion no
            ambient_occlusion_sample_count 1
            ambient_occlusion_distance -1
            refinement_count -1
            format "image"
            encoding 5
            filename "$CTEMP\\blast_#####"
        }
        units {
            units_file "$CLARISSE_BIN_DIR/units.cfg"
            time "frame"
            distance "metric"
            distance_unit "millimeter"
            angle "degree"
            area "metric"
            area_unit "square_meter"
            frequency "frames_per_second"
            color "float"
            scale "multiplier"
        }
    }
}
ilise_path "C:\\PROGRAM FILES\\6PS 0.4 XFI ESSIRALC CLARISSE IFX 4.0 SP6\\Licensing\\ilise.exe"
floating_license yes
#Preferences_File_Version 3